@*@model IEnumerable<TUI.Flights.Common.Dtos.Flight.FlightDto>
@{
    ViewData["Title"] = "AllFlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="disply_wrapper">

    <h2 class="page-header page-header--centered">Flights List <span class="badge">@Model.Count()</span></h2>

    <div class="row">
        <div class="col-md-12">
            <a asp-action="CreateFlight" class="btn btn-blue btn-lg pull-right">Create new flight</a>
        </div>
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-md-4 flights_list_item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title"><b>@item.FlightNumber</b></span>
                        <b class="pull-right">@item.FlightDate.ToString("dd MMM yyyy") at @item.FlightTime</b>
                    </div>
                    <div class="panel-body flights_list_item_details">
                        <div class="col-md-12">
                            <span class="pull-left"><b>From: </b>@item.AirportDeparture</span>
                        </div>
                        <div class="col-md-12">
                            <span class="pull-left"><b>To: </b>@item.AirportDestination</span>
                        </div>
                        <div class="col-md-12">
                            <span class="pull-left"><b>Duration: </b>@item.EstimatedFlightDuration</span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-dm btn-danger">Delete</button>
                        <a class="btn btn-md btn-blue" asp-action="GetFlightById" asp-route-flightId="@item.Id">Details</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>*@


